@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
:root {
  box-sizing: border-box;
  overflow: auto;
  font-family: "Montserrat", sans-serif;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  overflow: inherit;
}
* + * {
  margin-top: 1rem;
}
h3 {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #333333;
  transform: rotate(-0.02deg);
  text-transform: capitalize;
}
h1 {
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  color: #4e5150;
  transform: rotate(-0.02deg);
}

input[type="text"],
span {
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #828282;
}
label {
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #4f4f4f;
  transform: rotate(-0.02deg);
}
img {
  max-width: 100%;
  object-fit: cover;
  border: none;
  border-radius: 1rem;
}
a,
p {
  text-decoration: none;
  color: #333333;
}
