.descripcion {
  & > * + * {
    margin-top: 0.34rem; /*5.49/16*/
  }
  .parrafo_descripcion {
    color: var(--color_primario);
    .precio_parrafo {
      text-decoration: line-through;
      margin-left: 0.5rem; /*8/16*/
    }
  }
}
@media screen and(min-width:60rem) {
  .descripcion {
    & > * + * {
      margin-top: 0.37rem; /*6/16*/
    }
  }
}
