@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
:root {
  box-sizing: border-box;
  overflow: auto;
  font-family: "Montserrat", sans-serif;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  overflow: inherit;
}
* + * {
  margin-top: 1rem;
}
h3 {
  @include estilo_texto(600, 1rem, 1.375rem, #333333, capitalize);
}
h1 {
  @include estilo_texto(600, 2.25rem, 2.75rem, #4e5150, initial);
}

input[type="text"] {
  @include estilo_texto(600, 0.75rem, 0.9375rem, #828282, initial);
  border: none;
  outline: none;
}
span {
  @include estilo_texto(600, 1rem, 0.9375rem, #828282, initial);
  overflow: hidden;
}
label {
  @include estilo_texto(600, 0.75rem, 0.9375rem, #4f4f4f, initial);
}
img {
  max-width: 100%;
  object-fit: cover;
  border: none;
  border-radius: 1rem;
}
a,
p {
  text-decoration: none;
  color: #333333;
}
input[type="button"] {
  cursor: pointer;
}
input[type="checkbox"] {
  border: none;
  outline: none;
  border: 1px solid #828282;
}
@keyframes aparecePagina {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
