.home {
  max-width: var(--ancho_maximo);
  margin: 0 auto;
  padding: var(--relleno_movil);
  & > * + * {
    margin-top: 1.31rem; /* 20.96/16 */

    &:last-child {
      margin-top: 5.93rem; /* 94.98/16*/
    }
  }
}
@media screen and(min-width:50rem) {
  .home {
    padding: var(--relleno_escritorio);

    & > * + * {
      margin-top: 3.18rem; /* 50.94/16 */

      &:last-child {
        margin-top: 9.93rem; /* 159/16*/
      }
    }
  }
}
