.titulo {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: var(--tamano_titulo);
  line-height: var(--interlineado_titulo);
  color: var(--color_secundario_oscuro);
  transform: rotate(-0.02deg);
}
.titulo_2 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: var(--tamano_titulo_2);
  line-height: var(--interlineado_titulo_2);
  color: var(--color_secundario_gris_100);
}
.titulo_3 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: var(--tamano_titulo_3);
  line-height: var(--interlineado_titulo_3);
  color: var(--color_secundario_oscuro);
}
.etiqueta {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: var(--tamano_etiqueta);
  line-height: var(--interlineado_etiqueta);
  color: var(--color_secundario_gris_200);
}
.parrafo {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: var(--tamano_parrafo);
  line-height: var(--interlineado_parrafo);
  color: var(--color_secundario_gris_400);
}
.normal {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: var(--tamano_normal);
  line-height: var(--interlineado_normal);
  color: var(--color_secundario_gris_300);

}
.normal_pequeno {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: var(--tamano_extra_pequeno); /*14/16*/
  line-height: var(--interlineado_normal_pequeno);
  color: var(--color_primario);
}
.normal_extra_pequeno {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: var(--tamano_normal_pequeno);
  line-height: var(--interlineado_normal_estra_pequeno);
  color: var(--color_secundario_oscuro);

}
.unidad {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: var(--tamano_unidad);
  line-height: var(--interlineado_unidad);
  color: var(--color_secundario_gris_100);
}
.boton {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: var(--tamano_boton);
  line-height: var(--interlineado_boton);
  color: var(--color_secundario_blanco);
}
.icono {
  color: var(--color_secundario_gris_300);
}
