.formulario {
  section {
    @include display_flex(column, flex-start, flex-start);
    div {
      width: 100%;
      border: 1px solid #828282;
      box-sizing: border-box;
      border-radius: 12px;
      padding: 1em;
      @include display_flex(row, flex-start, center);
      span {
        flex-basis: 7vmin;
      }
      input[type="text"] {
        flex-basis: calc(100% - 7vmin);
        margin-left: 1rem;
        margin-top: 0;
        border: none;
        outline: none;
      }

      @media screen and(min-width:60em) {
        span {
          flex-basis: 4vmin;
        }
        input[type="text"] {
          flex-basis: calc(100% - 4vmin);
        }
      }
    }
    input[type="button"] {
      margin-top: 1rem;
      align-self: flex-end;
      padding: 0.5em 1em;
      background: #f2994a;
      text-transform: capitalize;
      border: none;
      border-radius: 12px;
      font-family: Montserrat;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      color: #ffffff;
    }
  }
  .ubicacion {
    @include display_flex(row, space-between, center);

    .columna {
      flex-basis: 48%;
      margin-top: 0;
      border: none;
      padding: 0;
      @include display_flex(column, flex-start, flex-start);
      div {
        span {
          flex-basis: 7vmin;
        }
      }
    }
  }
  .terminos {
    width: 100%;
    @include display_flex(row, flex-start, center);
    label {
      margin-top: 0;
      flex-basis: 95%;
      margin-left: 0.5rem;
    }
    input[type="checkbox"] {
      flex-basis: 5%;

      border: none;
      outline: none;
      border: 1px solid #828282;
    }
  }
}
