.formulario {
  section {
    @include display_flex(column, flex-start, flex-start);
    div {
      width: 100%;
      padding: 1em;
      border: 1px solid #828282;
      border-radius: 0.75rem;

      @include display_flex(row, flex-start, center);
      input[type="text"] {
        flex-basis: calc(100% - 7vmin);
        margin-left: 1rem;
        margin-top: 0;
      }
    }
    input[type="button"] {
      margin-top: 1rem;
      padding: 0.5em 1em;
      align-self: flex-end;
      border: none;
      border-radius: 0.75rem;
      @include estilo_texto(600, 1rem, 1.25rem, #ffffff, capitalize);
      background: #f2994a;
    }
  }
  .ubicacion {
    @include display_flex(row, space-between, center);
    .columna {
      flex-basis: 48%;
      margin-top: 0;
      padding: 0;
      border: none;
      border-radius: 0;
      @include display_flex(column, flex-start, flex-start);
    }
  }
  .terminos {
    width: 100%;
    @include display_flex(row, flex-start, center);
    label {
      margin-top: 0;
      margin-left: 0.5rem;
    }
  }
}
