.formulario {
  & > * + * {
    margin-top: 2.81rem; /*45.04/16*/
  }
}
@media screen and(min-width:60rem) {
  .formulario {
    flex-basis: 40%;
    order: 1;
    & > * + * {
      margin-top: 3.62rem; /*58.01/16*/
    }
  }
}
