.formulario {
  .titulo_formulario {
    font-size: 0.87rem;
    line-height: 1.06rem;
  }
  & > * + * {
    margin-top: 2.81rem;
  }
}
@media screen and(min-width:50rem) {
  .formulario {
    order: 1;
    .titulo_formulario {
      font-size: 1.12rem;
      line-height: 1.37rem;
    }
  }
}
