:root {
  --color_primario: #f2994a;
  --color_secundario_oscuro: #4e5150;
  --color_secundario_gris_100: #333333;
  --color_secundario_gris_200: #4f4f4f;
  --color_secundario_gris_300: #828282;
  --color_secundario_gris_400: #bdbdbd;
  --color_secundario_gris_500: #e0e0e0;
  --color_secundario_gris_600: #f2f2f2;
  --color_secundario_blanco: #ffffff;
}
