@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
:root {
  /*
  movil:(x=375,y=1331)
  escritorio:(x=1440,y=1140)
*/
  --color_primario: #f2994a;
  --color_secundario_oscuro: #4e5150;
  --color_secundario_gris_100: #333333;
  --color_secundario_gris_200: #4f4f4f;
  --color_secundario_gris_300: #828282;
  --color_secundario_gris_400: #bdbdbd;
  --color_secundario_gris_500: #e0e0e0;
  --color_secundario_gris_600: #f2f2f2;
  --color_secundario_blanco: #ffffff;
  --color_secundario_rojo: #ff6b6b;
  --color_secunadario_verde: #1dd1a1;
  --tamano_border: 0.75rem;
  /*12/16*/
  --tamano_titulo_movil: 1.5rem;
  /*24/16*/
  --tamano_titulo_2_movil: 0.87rem;
  /*14/16*/
  --tamano_titulo_3_movil: 0.75rem;
  /*12/16*/
  --tamano_parrafo_movil: 0.87rem;
  /*14/16*/
  --tamano_etiqueta_movil: 0.62rem;
  /*10/16*/
  --tamano_normal_movil: 0.75rem;
  /*12/16*/
  --tamano_normal_pequeña_movil: 0.62rem;
  /*10/16*/
  --tamano_extra_pequeña_movil: 1.06rem;
  /*14/16*/
  --tamano_boton_movil: 1rem;
  /*16/16*/
  --tamano_unidad_movil: 1rem;
  /*16/16*/
  --tamano_titulo_escritorio: 2.25rem;
  /*36/16*/
  --tamano_titulo_2_escritorio: 1.12rem;
  /*18/16*/
  --tamano_titulo_3_escritorio: 1rem;
  /*16/16*/
  --tamano_etiqueta_escritorio: 0.75rem;
  /*12/16*/
  --tamano_normal_escritorio: 1rem;
  /*16/16*/
  --tamano_normal_pequeña_escritorio: 0.75rem;
  /*12/16*/
  --interlineado_titulo_movil: 1.81rem;
  /*29/16*/
  --interlineado_titulo_2_movil: 1.06rem;
  /*17/16*/
  --interlineado_titulo_3_movil: 0.93rem;
  /*15/16*/
  --interlineado_etiqueta_movil: 0.75rem;
  /*12/16*/
  --interlineado_parrafo_movil: 1.06rem;
  /*17/16*/
  --interlineado_normal_movil: 0.93rem;
  /*15/16*/
  --interlineado_normal_pequeño_movil: 1.06rem;
  /*17/16*/
  --interlineado_normal_estra_pequeño_movil: 0.75rem;
  /*12/16*/
  --interlineado_unidad_movil: 1.25rem;
  /*20/16*/
  --interlineado_boton_movil: 1.25rem;
  /*20/16*/
  --interlineado_titulo_escritorio: 2.75rem;
  /*44/16*/
  --interlineado_titulo_2_escritorio: 1.37rem;
  /*22/16*/
  --interlineado_titulo_3_escritorio: 1.25rem;
  /*20/16*/
  --interlineado_etiqueta_escritorio: 0.93rem;
  /*15/16*/
  --interlineado_normal_escriotrio: 1.25rem;
  /*20/16*/
  --interlineado_normal_extra_pequeña_escritorio: 0.93rem;
  /*15/16*/
  --relleno_movil: 2rem 0.75rem;
  /*32/16 , 12/16*/
  --relleno_escritorio: 4rem 6.25rem;
  /*64/16 , */
  --ancho_maximo: 90rem;
  /*1440/16*/
}

@keyframes aparece_sitio {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

@keyframes muestra_mensaje_confirmacion {
  0% {
    opacity: 0;
    visibility: visible;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

:root {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: inherit;
}

img {
  max-width: 100%;
}

a {
  color: var(--color_secundario_oscuro);
  text-decoration: none;
}

a {
  text-decoration: none;
  color: var(--color_secundario_oscuro);
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  object-fit: cover;
}

input[type="text"],
input[type="email"] {
  border: none;
  outline: none;
}

.titulo {
  font-family: "Montserrat" sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: var(--tamano_titulo_movil);
  line-height: var(--interlineado_titulo_movil);
  color: var(--color_secundario_oscuro);
  transform: rotate(-0.02deg);
}
@media screen and (min-width: 37.5rem) {
  .titulo {
    font-size: var(--tamano_titulo_escritorio);
    line-height: 1.81rem;
    /*44/16*/
  }
}

.titulo_2 {
  font-family: "Montserrat" sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: var(--tamano_titulo_2_movil);
  line-height: var(--interlineado_titulo_2_movil);
  color: var(--color_secundario_gris_100);
}
@media screen and (min-width: 37.5rem) {
  .titulo_2 {
    font-size: var(--tamano_titulo_2_escritorio);
    line-height: var(--interlineado_titulo_2_escritorio);
  }
}

.titulo_3 {
  font-family: "Montserrat" sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: var(--tamano_titulo_3_movil);
  line-height: var(--interlineado_titulo_3_movil);
  color: var(--color_secundario_oscuro);
}
@media screen and (min-width: 37.5rem) {
  .titulo_3 {
    font-size: var(--tamano_titulo_3_escritorio);
    line-height: var(--interlineado_titulo_3_escritorio);
  }
}

.etiqueta {
  font-family: "Montserrat" sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: var(--tamano_etiqueta_movil);
  line-height: var(--interlineado_etiqueta_movil);
  color: var(--color_secundario_gris_200);
}
@media screen and (min-width: 37.5rem) {
  .etiqueta {
    font-size: var(--tamano_etiqueta_escritorio);
    line-height: var(--interlineado_etiqueta_escritorio);
  }
}

.parrafo {
  font-family: "Montserrat" sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: var(--tamano_parrafo_movil);
  line-height: var(--interlineado_parrafo_movil);
  color: var(--color_secundario_gris_400);
}

.normal {
  font-family: "Montserrat" sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: var(--tamano_normal_movil);
  line-height: var(--interlineado_normal_movil);
  color: var(--color_secundario_gris_300);
}
@media screen and (min-width: 37.5rem) {
  .normal {
    font-size: var(--tamano_normal_escritorio);
    line-height: var(--interlineado_normal_escriotrio);
  }
}

.normal_pequeña {
  font-family: "Montserrat" sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: var(--tamano_extra_pequeña_movil);
  /*14/16*/
  line-height: var(--interlineado_normal_pequeño_movil);
  color: var(--color_primario);
}

.normal_extra_pequeña {
  font-family: "Montserrat" sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: var(--tamano_normal_pequeña_movil);
  line-height: var(--interlineado_normal_estra_pequeño_movil);
  color: var(--color_secundario_oscuro);
}
@media screen and (min-width: 37.5rem) {
  .normal_extra_pequeña {
    font-size: var(--tamano_normal_pequeña_escritorio);
    line-height: var(--interlineado_normal_extra_pequeña_escritorio);
  }
}

.unidad {
  font-family: "Montserrat" sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: var(--tamano_unidad_movil);
  line-height: var(--interlineado_unidad_movil);
  color: var(--color_secundario_gris_100);
}

.boton {
  font-family: "Montserrat" sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: var(--tamano_boton_movil);
  line-height: var(--interlineado_boton_movil);
  color: var(--color_secundario_blanco);
}

.icono {
  color: var(--color_secundario_gris_300);
}

.contenido {
  flex-basis: 35.08%;
  /* (122.80/350)*100 */
}
.contenido > * + * {
  margin-top: 1.38rem;
  /*22.13/16*/
}

@media screen and (min-width: 60rem) {
  .contenido {
    flex-basis: 35.05%;
    /* (134.25/383)*100 */
  }
  .contenido > * + * {
    margin-top: 2.06rem;
    /*33.05/16*/
  }
}

.articulo > * + * {
  margin-top: 2.43rem;
  /*39/16*/
}

@media screen and (min-width: 60rem) {
  .articulo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  .articulo > * + * {
    margin-top: 0;
    margin-right: 7rem;
    /*112/16*/
  }
}

.venta {
  padding: 1.91rem;
  /*30.56/16*/
  background-color: var(--color_secundario_gris_600);
  border-radius: var(--tamano_border);
  /*12/16*/
}
.venta > * + * {
  margin-top: 5.42rem;
  /*86.79/16*/
}

@media screen and (min-width: 60rem) {
  .venta {
    flex-basis: 40%;
    /* (383/(1440-180))*100 */
    padding: 2.08rem;
    /*33.41/16*/
    order: 2;
  }
  .venta > * + * {
    margin-top: 5.99rem;
    /*95.94/16*/
  }
}

.formulario > * + * {
  margin-top: 2.81rem;
  /*45.04/16*/
}

@media screen and (min-width: 60rem) {
  .formulario {
    flex-basis: 40%;
    order: 1;
  }
  .formulario > * + * {
    margin-top: 3.62rem;
    /*58.01/16*/
  }
}

.producto > * + * {
  margin-top: 1.8rem;
  /*28.89/16*/
}

@media screen and (min-width: 60rem) {
  .producto > * + * {
    margin-top: 1.97rem;
    /*31.59/16*/
  }
}

.tarjeta {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.tarjeta > * + * {
  margin-left: 1rem;
  /*16/16*/
}

.fila > * + * {
  margin-top: 1.03rem;
  /*16.52/16*/
}

@media screen and (min-width: 60rem) {
  .fila > * + * {
    margin-top: 1.25rem;
    /*20.01/16*/
  }
}

.pie_pagina .parrafo_pie_pagina {
  text-align: center;
}
.pie_pagina .parrafo_pie_pagina .enlace_pie_pagina {
  font-weight: bold;
  color: inherit;
}

.descripcion > * + * {
  margin-top: 0.34rem;
  /*5.49/16*/
}

.descripcion .normal_extra_pequeña_descripcion {
  text-decoration: line-through;
}

@media screen and (min-width: 60rem) {
  .descripcion > * + * {
    margin-top: 0.37rem;
    /*6/16*/
  }
}

.envio {
  padding: 0.81rem 0;
  /* 13/16*/
  border-top: 1px solid var(--color_secundario_gris_400);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.figura {
  flex-basis: 50%;
}
.figura .imagen_figura {
  border: none;
  border-radius: var(--tamano_border);
  /*8/16*/
}

.numero_articulos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  /*16/16*/
  border: 1px solid var(--color_secundario_gris_500);
  border-radius: var(--tamano_border);
  /*12/16*/
}
.numero_articulos .boton_numero_articulos {
  padding: 0.18rem 0.31rem;
  /* 3/16 , 5/16*/
  background-color: var(--color_secundario_gris_500);
  border: none;
  border-radius: 0.25rem;
  /*4/16*/
  cursor: pointer;
}
.numero_articulos .boton_numero_articulos:active {
  box-shadow: 0px 0px 16px var(--color_secundario_oscuro);
}

.campo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.campo > * + * {
  margin-top: 0.32rem;
  /*5.23/16*/
}
.campo .boton_campo {
  padding: 1.06rem 2.81rem;
  /* 17/16 , 45/16*/
  margin-left: auto;
  background-color: var(--color_primario);
  border: none;
  border-radius: var(--tamano_border);
  /*12/16*/
  color: var(--color_secundario_blanco);
  cursor: pointer;
}
.campo .boton_campo:active {
  box-shadow: 0px 0px 16px var(--color_secundario_oscuro);
}

.caja {
  width: 100%;
  padding: 0.75rem;
  /*12/16*/
  border: 1px solid var(--color_secundario_gris_300);
  border-radius: var(--tamano_border);
  /*12/16*/
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.caja .cuadro_texto_caja {
  width: calc((100% - 7vmin) / 2);
  margin-left: 1rem;
  /*16/16*/
}

.ubicacion {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.ubicacion > * + * {
  margin-left: 0.5rem;
  /*8/16*/
}
.ubicacion .mensaje_advertencia {
  width: 50%;
}

.terminos {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.terminos .etiqueta {
  margin-top: 0;
  margin-left: 0.5rem;
  /*8/16*/
}

@media screen and (min-width: 60rem) {
  .terminos .etiqueta {
    font-size: 0.75rem;
    /*12/16*/
    line-height: 0.93rem;
    /*15/16*/
  }
}

.mensaje {
  padding: 0.5rem;
  /*8/16*/
  border: none;
  border-radius: var(--tamano_border);
  /*8/16*/
}
.mensaje .parrafo_mensaje {
  color: var(--color_secundario_blanco);
}

.mensaje_advertencia {
  visibility: hidden;
  background-color: var(--color_secundario_rojo);
}

.mensaje_advertencia_activo {
  visibility: visible;
}

.mensaje_confirmacion {
  visibility: hidden;
  background-color: var(--color_secunadario_verde);
}

.mensaje_confirmacion_activo {
  animation: muestra_mensaje_confirmacion 10s linear 0s;
}

.home {
  max-width: var(--ancho_maximo);
  margin: 0 auto;
  padding: var(--relleno_movil);
  animation: aparece_sitio 0.8s linear;
}
.home > * + * {
  margin-top: 1.31rem;
  /* 20.96/16 */
}
.home > * + *:last-child {
  margin-top: 5.93rem;
  /* 94.98/16*/
}

@media screen and (min-width: 50rem) {
  .home {
    padding: var(--relleno_escritorio);
  }
  .home > * + * {
    margin-top: 3.18rem;
    /* 50.94/16 */
  }
  .home > * + *:last-child {
    margin-top: 9.93rem;
    /* 159/16*/
  }
}
