@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
:root {
  box-sizing: border-box;
  overflow: auto;
  font-family: "Montserrat", sans-serif; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  overflow: inherit; }

* + * {
  margin-top: 1rem; }

h3 {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.375rem;
  color: #333333;
  text-transform: capitalize; }

h1 {
  font-weight: 600;
  font-size: 2.25rem;
  line-height: 2.75rem;
  color: #4e5150;
  text-transform: initial; }

input[type="text"] {
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 0.9375rem;
  color: #828282;
  text-transform: initial;
  border: none;
  outline: none; }

span {
  font-weight: 600;
  font-size: 1rem;
  line-height: 0.9375rem;
  color: #828282;
  text-transform: initial;
  overflow: hidden; }

label {
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 0.9375rem;
  color: #4f4f4f;
  text-transform: initial; }

img {
  max-width: 100%;
  object-fit: cover;
  border: none;
  border-radius: 1rem; }

a,
p {
  text-decoration: none;
  color: #333333; }

input[type="button"] {
  cursor: pointer; }

input[type="checkbox"] {
  border: none;
  outline: none;
  border: 1px solid #828282; }

@keyframes aparecePagina {
  0% {
    opacity: 0; }
  25% {
    opacity: 0.25; }
  50% {
    opacity: 0.5; }
  75% {
    opacity: 0.75; }
  100% {
    opacity: 1; } }

.contenedor {
  width: 100%;
  padding: 0 01em;
  animation: aparecePagina 1s ease-in-out 0s; }
  .contenedor article .venta {
    width: 100%;
    padding: 1rem;
    background: #f2f2f2;
    border-radius: 12px; }
    .contenedor article .venta .articulo .figura {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center; }
      .contenedor article .venta .articulo .figura img {
        flex-basis: 30%; }
      .contenedor article .venta .articulo .figura .contenido {
        flex-basis: 35%; }
        .contenedor article .venta .articulo .figura .contenido h5 {
          font-weight: 600;
          font-size: 1rem;
          line-height: 1.0625rem;
          color: #f2994a;
          text-transform: initial;
          overflow: hidden; }
        .contenedor article .venta .articulo .figura .contenido span {
          margin-left: 0.5rem;
          text-decoration-line: line-through;
          font-weight: 600;
          font-size: 0.725rem;
          line-height: 0.75rem;
          color: #4e5150;
          text-transform: initial; }
        .contenedor article .venta .articulo .figura .contenido .numero_articulos {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          padding: 1em;
          border: 1px solid black;
          border-radius: 1rem; }
          .contenedor article .venta .articulo .figura .contenido .numero_articulos input[type="button"] {
            margin-top: 0;
            padding: 0.25em 0.5em;
            border: none;
            cursor: pointer;
            background: #e0e0e0;
            border-radius: 4px; }
          .contenedor article .venta .articulo .figura .contenido .numero_articulos input[type="button"],
          .contenedor article .venta .articulo .figura .contenido .numero_articulos h3 {
            margin-top: 0; }
    .contenedor article .venta .contenido_total {
      width: 100%;
      margin-top: 2.5rem; }
      .contenedor article .venta .contenido_total .envio,
      .contenedor article .venta .contenido_total .total {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid #bdbdbd; }
  .contenedor article .formulario section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; }
    .contenedor article .formulario section div {
      width: 100%;
      padding: 1em;
      border: 1px solid #828282;
      border-radius: 0.75rem;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center; }
      .contenedor article .formulario section div input[type="text"] {
        flex-basis: calc(100% - 7vmin);
        margin-left: 1rem;
        margin-top: 0; }
    .contenedor article .formulario section input[type="button"] {
      margin-top: 1rem;
      padding: 0.5em 1em;
      align-self: flex-end;
      border: none;
      border-radius: 0.75rem;
      font-weight: 600;
      font-size: 1rem;
      line-height: 1.25rem;
      color: #ffffff;
      text-transform: capitalize;
      background: #f2994a; }
  .contenedor article .formulario .ubicacion {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    .contenedor article .formulario .ubicacion .columna {
      flex-basis: 48%;
      margin-top: 0;
      padding: 0;
      border: none;
      border-radius: 0;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start; }
  .contenedor article .formulario .terminos {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center; }
    .contenedor article .formulario .terminos label {
      margin-top: 0;
      margin-left: 0.5rem; }
  .contenedor footer {
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
  @media screen and (min-width: 62.5em) {
    .contenedor {
      width: 80%;
      margin: 0 auto; }
      .contenedor article {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start; }
        .contenedor article .venta {
          flex-basis: 35%;
          order: 2; }
          .contenedor article .venta img {
            width: 30vmax; }
        .contenedor article .formulario {
          flex-basis: 55%;
          order: 1; } }
