@media screen and(min-width:62.5em) {
  & {
    width: 80%;
    margin: 0 auto;
    article {
      @include display_flex(row, space-between, flex-start);
      .venta {
        flex-basis: 35%;
        order: 2;
        img {
          width: 30vmax;
        }
      }
      .formulario {
        flex-basis: 55%;
        order: 1;
      }
    }
  }
}
