.venta {
  width: 100%;
  padding: 1rem;
  background: #f2f2f2;
  border-radius: 12px;
  .articulo {
    .figura {
      @include display_flex(row, space-between, center);
      img {
        flex-basis: 50%;
      }
      .contenido {
        flex-basis: 35%;
        h5 {
          font-weight: 600;
          font-size: 14px;
          line-height: 17px;
          color: #f2994a;
        }
        span {
          margin-left: 0.5rem;
          font-weight: 600;
          font-size: 10px;
          line-height: 12px;
          text-decoration-line: line-through;
          color: #4e5150;
        }
        .numero_articulos {
          @include display_flex(row, space-around, center);
          padding: 1em;
          border: 1px solid black;
          border-radius: 1rem;

          input[type="button"] {
            margin-top: 0;
            padding: 0.25em 0.5em;
            border: none;
            cursor: pointer;
            background: #e0e0e0;
            border-radius: 4px;
          }
          input[type="button"],
          h3 {
            margin-top: 0;
          }
        }
      }
    }
  }
  .contenido_total {
    width: 100%;
    margin-top: 5rem;
    .envio,
    .total {
      width: 100%;
      @include display_flex(row, space-between, center);
      border-top: 1px solid #bdbdbd;
    }
  }
}
