.venta {
  width: 100%;
  padding: 1rem;
  background: #f2f2f2;
  border-radius: 12px;
  .articulo {
    .figura {
      @include display_flex(row, space-around, center);
      img {
        flex-basis: 30%;
      }
      .contenido {
        flex-basis: 35%;
        h5 {
          @include estilo_texto(600, 1rem, 1.0625rem, #f2994a, initial);
          overflow: hidden;
        }
        span {
          margin-left: 0.5rem;
          text-decoration-line: line-through;
          @include estilo_texto(600, 0.725rem, 0.75rem, #4e5150, initial);
        }
        .numero_articulos {
          @include display_flex(row, space-between, center);
          padding: 1em;
          border: 1px solid black;
          border-radius: 1rem;

          input[type="button"] {
            margin-top: 0;
            padding: 0.25em 0.5em;
            border: none;
            cursor: pointer;
            background: #e0e0e0;
            border-radius: 4px;
          }
          input[type="button"],
          h3 {
            margin-top: 0;
          }
        }
      }
    }
  }
  .contenido_total {
    width: 100%;
    margin-top: 2.5rem;
    .envio,
    .total {
      width: 100%;
      @include display_flex(row, space-between, center);
      border-top: 1px solid #bdbdbd;
    }
  }
}
