.caja {
  width: 100%;
  padding: 0.75rem; /*12/16*/
  border: 1px solid var(--color_secundario_gris_300);
  border-radius: var(--tamano_border); /*12/16*/
  @include display_flex(row, flex-start, center);

  .cuadro_texto_caja {
    width: calc((100% - 7vmin) / 2);
    margin-left: 1rem; /*16/16*/
  }
}
