.terminos {
  width: 100%;
  @include display_flex(row, flex-start, center);
  .etiqueta {
    margin-top: 0;
    margin-left: 0.5rem;
  }
}
@media screen and(min-width:50rem) {
  .terminos {
    .etiqueta {
      font-size: 0.75rem;
      line-height: 0.93rem;
    }
  }
}
