.descripcion {
  & > * + * {
    margin-top: 1rem;
  }
  .titulo_descripcion {
    font-size: 0.75rem;
    line-height: 0.93rem;
  }
  .precio_descripcion {
    font-size: 0.87rem;
    line-height: 1.06rem;
    color: var(--color_primario);

    .precio_anterior_descripcion {
      text-decoration-line: line-through;
    }
  }
}
@media screen and(min-width:50rem) {
  .descripcion {
    .titulo_descripcion {
      font-size: 1rem;
      line-height: 1.25rem;
    }
    .precio_descripcion {
      font-size: 1rem;
      line-height: 1.25rem;
      .precio_anterior_descripcion {
        font-size: 0.75rem;
        line-height: 0.93rem;
      }
    }
  }
}
