.descripcion {
  & > * + * {
    margin-top: 0.34rem; /*5.49/16*/
  }
  .normal_extra_pequeña_descripcion {
    text-decoration: line-through;
  }
}

@media screen and(min-width:60rem) {
  .descripcion {
    & > * + * {
      margin-top: 0.37rem; /*6/16*/
    }
  }
}
